body{
    background-color:#a9a9a9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.twitter_icon{
    font-size: 55px;
    color: #437ff9;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7px;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 1% 10% 1% 10%;

    background-color: white;
    box-shadow: whitesmoke;
}

.logo{
    width: 30px;
    margin-bottom: 25px;
}

.logo-box h2 {
    margin-bottom: 20px;
}

.logo-box button {
    width: 360px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    border-radius: 30px;
    background-color: 1px solid black;
    font-weight: 800;
    cursor: pointer;
}

.logo-box button img {
    width: 30px;
    margin-right: 10px;
}

.logo-box span {
    display: block;
    width: 40px;
    margin: auto;
    background: #fff;
    font-size: 14px;
    margin-top: -12px;
}

.logo-box p {
text-align: left;
}

.accCreate {
    margin-top: 30px;
    font-weight: 800;
}



.box-form input {
    width: 100%;
    background: transparent;
    border: 1px solid #999;
    outline: 0;
    padding: 15px 10px ;
    border-radius: 4px;
}